* {
    box-sizing: border-box;
}

html {
    --blue-a: rgb(100, 180, 250);
    --blue-b: rgb(50, 140, 250);
}

ul,
h4,
h3 {
    padding: 0;
    margin: 0;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    max-width: 800px;
    padding: 10px;
    border: 1px solid black;
}

main {
    flex-grow: 1;
    border: 1px solid black;
    background-color: rgb(233, 218, 185);
    padding: 10px;
}

.chat-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.text-box {
    word-wrap: break-word;
    max-width: 90%;
    font-size: 1rem;
    min-height: 2em;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-right: auto;
}

.text-box.local {
    background-color: var(--blue-a);
    margin-left: auto;
    margin-right: 0;

}

footer {
    background-color: royalblue;
}

.input-section {
    display: flex;
    background-color: red;
    padding: 10px;
}

textarea {
    resize: none;
    flex-grow: 1;
    font-size: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: antiquewhite;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.login-form {
    aspect-ratio: 1/1;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 10px gray;
    animation: fadein 0.5s ease-in-out;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: large;
    padding: 10px;
    margin-top: 5px;
    color: gray;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.25em;
    color: rgb(80, 80, 80);
    flex-grow: 0.5;
}

.enter {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    min-height: 2em;
    color: white;
    background-color: var(--blue-a);
    border-radius: 5px;
    box-shadow: 0 0 4px gray;
    transition: background-color 0.2s;
}

.enter:hover {
    background-color: var(--blue-b);

}