* {
    box-sizing: border-box;
}

html {
    --blue-a: rgb(100, 180, 250);
    --blue-b: rgb(50, 140, 250);
    --wheat-a: rgb(230, 210, 180);
    --wheat-b: rgb(192, 160, 112);

}

ul,
h4,
h5,
h3,
p {
    padding: 0;
    margin: 0;
}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: auto;
    max-width: 800px;
    /* padding: 10px; */
    box-shadow: 0 0 15px gray;
}

main {
    flex-grow: 1;
    background-color: var(--wheat-a);
    padding: 20px;
    overflow: auto;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    /* border: 1px solid black; */
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background-color: var(--wheat-b);
}

/**/

.chat-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    min-height: fit-content;
    margin-right: auto;
    /* border: 1px solid black; */
}

.post.local {
    margin-right: 0;
    margin-left: auto;
}

.text-box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.85rem;
    word-wrap: break-word;
}

.text-box.local {
    background-color: var(--blue-b);
    color: white;
}

.sender {
    color: rgb(100, 100, 100);
    padding: 2px;
}

.send {
    border: none;
    border-radius: 5px;
    background-color: var(--wheat-a);
    font-size: medium;
    letter-spacing: 1px;
}

.input-section {
    display: flex;
    background-color: gray;
    padding: 5px;
    column-gap: 5px;
}

textarea {
    resize: none;
    font-size: 1rem;
    outline: none;
    font-family: Inter, sans-serif;
    flex-grow: 1;
    border: none;
}

.box-wrapper {
    display: flex;
    flex-grow: 1;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.login {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    background-color: antiquewhite;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        transform: scale(1);
        opacity: 1
    }
}

.login-form {
    aspect-ratio: 1/1;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 10px gray;
    animation: fadein 0.5s ease-in-out;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    font-size: large;
    padding: 10px;
    margin-top: 5px;
    color: gray;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.75);
}

.input-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.25em;
    color: rgb(80, 80, 80);
    flex-grow: 0.5;
}

.enter {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    min-height: 2em;
    color: white;
    background-color: var(--blue-a);
    border-radius: 5px;
    box-shadow: 0 0 4px gray;
    transition: background-color 0.2s;
}

.enter:hover {
    background-color: var(--blue-b);

}